assets/jade/confirm.jade
extends layout

block styles
  link(rel="stylesheet", href=config.path.css + 'assets/reset.css')
  link(rel="stylesheet", href=config.path.css + 'index.css')

block body
  .wrapper
    .wrapper__back
    .wrapper__content
      .app-finish(data-reactroot='')
        .wrapper__body
          .wrapper__body__popup
            .b-final.form
              .b-final__title
                span.b-final__title__inner Спасибо за участие!
              .b-final__text
                span.b-final__text__inner Осталось подтвердить ваш email.
                br
                span.b-final__text__inner Проверте почту, письмо уже должно было прийти.
              .b-final__social.form
                .b-socials
                  .b-socials__row
                    .b-socials__row__col
                      .b-social-btn
                        .b-social-icon.b-social-icon--fb
                    .b-socials__row__col
                      .b-social-btn
                        .b-social-icon.b-social-icon--vk
                    .b-socials__row__col
                      .b-social-btn
                        .b-social-icon.b-social-icon--tw
                    .b-socials__row__col
                      .b-social-btn
                        .b-social-icon.b-social-icon--ok
                  .b-socials__magic2
              .b-final__prize
                .b-final__prize__title
                  span.b-final__prize__title__inner Главный приз
                .b-prize.euro
                  .b-prize__btn
                    span.b-prize__btn__box
                    span.b-prize__btn__inner Бесплатные путешествия знатокам  футбола
                    .b-prize__btn__magic
                      .b-prize__btn__magic__left
                      .b-prize__btn__magic__right
              .b-final__rules
                a.b-footer__rules__link(href='#').js-open
                  span.b-footer__rules__link__inner Правила конкурса

        .b-rules#rules
          .b-rules__back
          .b-rules__body
            .b-rules__body__window
              .b-rules-close ×
              h2 Условия участия в Акции
              ul
                li
                  p Организатором Акции является компания OneTwoTriр, далее именуемая Организатор.
                li
                  p Условия участия в Акции:
                  p
                    | Необходимо пройти тест на сайте компании
                    span.blue www.onetwotrip.com
                    | ; поделиться результатом в своем аккаунте в одной из социальных сетей (
                    span.blue vk.com
                    | ,
                    span.blue facebook.com
                    | ,
                    span.blue twitter.com
                    | ,
                    span.blue odnoklassniki.com
                    | ); оставить действующий адрес электронный почты.
                li
                  p
                    | Участниками Акции могут являться только совершеннолетние лица, выполнившие условия ее проведения.
                li
                  p
                    | Запрещается повторная регистрация одного физического лица под различными email-аккаунтами.
                li
                  p Сроки проведения Акции:
                  p
                    | 15 июня – 25 июня 2016 года. Сроки могут быть изменены по решению Организатора без предварительного уведомления.
                li
                  p
                    | Подведение итогов Акции: 26 июня 2016 года. Информация о результатах публикуется в сообществах OneTwoTrip в социальных сетях. Победитель Акции уведомляется о выигрыше по email.
                li
                  p
                    | Победители Акции определяются генератором случайных чисел среди участников, выполнивших все условия Акции. Если победитель не
                li
                  p Призы Акции:
                  ul.letter
                    li
                      p
                        | Главные призы Акции: подарочные сертификаты для оплаты перелета или отеля общим номиналом 50 000 рублей, 20 000 рублей и 10 000 рублей. Сертификат необходимо использовать не позднее 25 июня 2017 года. По перелету не предусматривается начисление миль по программе для часто летающих пассажиров и повышение класса обслуживания. Сертификат без права передачи и возврата, частично или в полном объеме, исключено получение компенсации, эквивалентной стоимости поездки. Для получения приза Победитель акции должен связаться с Организатором по электронной почте promo@onetwotrip.com с адреса электронной почты, указанного при заполнении теста, и сообщить свои данные для получения промокода. Промокод будет выслан на электронную почту Победителя в течение 3 дней с момента предоставления Организатору данных. Передача Приза третьим лицам не допускается.
                      p
                        | Все федеральные, государственные, местные налоги и налоги на физических лиц на прибыль и обязанности, связанные с получением приза, таможенные и визовые сборы, страховка, расходы в аэропорту, чаевые, любые сборы, устанавливаемые государственными органами страны, имеющей отношение к поездке, и любые другие личные расходы являются зоной ответственности получателя приза. Получатель приза соглашается не перекладывать на Организатора, директоров, сотрудников и уполномоченных представителей ответственность по любым претензиям, которые связаны с призом.
                    li
                      p
                        | Дополнительные призы: Промокоды на бронирование проживания в отелях, представленных на сайте Организатора Акции.
                      ul.rom
                        li
                          p
                            | Промокод необходимо активировать не позднее 1 августа 2016 года. Получение Приза в денежном эквиваленте не предусмотрено.
                        li
                          p Прококод соотвествует сумме 1200 рублей.
                        li
                          p
                            | Промокод не суммируется с другими. Сумма бронирования должна быть не меньше 10 000 рублей.
                li
                  p
                    | В случае возникновения причины, в том числе не контролируемой Организатором Акции, которая препятствует должному проведению Акции, затрагивает ее безопасность, честность и целостность, Организатор Акции вправе в одностороннем порядке изменить или временно прекратить проведение Акции.
                li
                  p
                    | В случае, если Победитель не воспользуется правом получить приз в установленные правилами Акции сроки, указанное право утрачивается, какие-либо компенсации не предоставляются.
                li
                  p
                    | Организатор Акции не несёт ответственности за надлежащее исполнение авиакомпанией-перевозчиком условий договора перевозки пассажира. Победитель Акции вступает в прямые договорные отношения с перевозчиком, выполняет требования для пассажиров, установленные законодательством и правилами соответствующей авиакомпании-перевозчика.
                li
                  p
                    | Победитель Акции самостоятельно осуществляет уплату всех налогов и иных существующих обязательных платежей, связанных с получением Приза.




block scripts
  script(src=config.path.js+'confirm.js')

confirm.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Футбольный конкурс от OneTwoTrip</title>
    <meta property="og:title" content="Чемпионат Европы по футболу с OneTwoTrip!"/>
    <meta property="og:site_name" content="Футбольный конкурс от OneTwoTrip"/>
    <meta property="og:url" content="http://www.onetwotrip.com/promo/euro-2016/"/>
    <meta property="og:description" content="Пройди футбольный тест OneTwoTrip и получи подарочный сертификат на 50000 ₽ на поездку мечты! Без призов никто не останется."/>
    <meta property="og:image" content="http://www.onetwotrip.com/promo/euro-2016/img/share/share.png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="627"/>
    <meta property="og:updated_time" content="1466229417855"/>
    <link rel="stylesheet" href="/promo/euro-2016/assets/css/assets/reset.css">
    <link rel="stylesheet" href="/promo/euro-2016/assets/css/index.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__back"></div>
      <div class="wrapper__content">
        <div data-reactroot="" class="app-finish">
          <div class="wrapper__body">
            <div class="wrapper__body__popup">
              <div class="b-final form">
                <div class="b-final__title"><span class="b-final__title__inner">Спасибо за участие!</span></div>
                <div class="b-final__text"><span class="b-final__text__inner">Осталось подтвердить ваш email.</span><br><span class="b-final__text__inner">Проверте почту, письмо уже должно было прийти.</span></div>
                <div class="b-final__social form">
                  <div class="b-socials">
                    <div class="b-socials__row">
                      <div class="b-socials__row__col">
                        <div class="b-social-btn">
                          <div class="b-social-icon b-social-icon--fb"></div>
                        </div>
                      </div>
                      <div class="b-socials__row__col">
                        <div class="b-social-btn">
                          <div class="b-social-icon b-social-icon--vk"></div>
                        </div>
                      </div>
                      <div class="b-socials__row__col">
                        <div class="b-social-btn">
                          <div class="b-social-icon b-social-icon--tw"></div>
                        </div>
                      </div>
                      <div class="b-socials__row__col">
                        <div class="b-social-btn">
                          <div class="b-social-icon b-social-icon--ok"></div>
                        </div>
                      </div>
                    </div>
                    <div class="b-socials__magic2"></div>
                  </div>
                </div>
                <div class="b-final__prize">
                  <div class="b-final__prize__title"><span class="b-final__prize__title__inner">Главный приз</span></div>
                  <div class="b-prize euro">
                    <div class="b-prize__btn"><span class="b-prize__btn__box"></span><span class="b-prize__btn__inner">Бесплатные путешествия знатокам  футбола</span>
                      <div class="b-prize__btn__magic">
                        <div class="b-prize__btn__magic__left"></div>
                        <div class="b-prize__btn__magic__right"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-final__rules"><a href="#" class="b-footer__rules__link js-open"><span class="b-footer__rules__link__inner">Правила конкурса</span></a></div>
              </div>
            </div>
          </div>
          <div id="rules" class="b-rules">
            <div class="b-rules__back"></div>
            <div class="b-rules__body">
              <div class="b-rules__body__window">
                <div class="b-rules-close">×</div>
                <h2>Условия участия в Акции</h2>
                <ul>
                  <li>
                    <p>Организатором Акции является компания OneTwoTriр, далее именуемая Организатор.</p>
                  </li>
                  <li>
                    <p>Условия участия в Акции:</p>
                    <p>Необходимо пройти тест на сайте компании<span class="blue">www.onetwotrip.com</span>; поделиться результатом в своем аккаунте в одной из социальных сетей (<span class="blue">vk.com</span>,<span class="blue">facebook.com</span>,<span class="blue">twitter.com</span>,<span class="blue">odnoklassniki.com</span>); оставить действующий адрес электронный почты.</p>
                  </li>
                  <li>
                    <p>Участниками Акции могут являться только совершеннолетние лица, выполнившие условия ее проведения.</p>
                  </li>
                  <li>
                    <p>Запрещается повторная регистрация одного физического лица под различными email-аккаунтами.</p>
                  </li>
                  <li>
                    <p>Сроки проведения Акции:</p>
                    <p>15 июня – 25 июня 2016 года. Сроки могут быть изменены по решению Организатора без предварительного уведомления.</p>
                  </li>
                  <li>
                    <p>Подведение итогов Акции: 26 июня 2016 года. Информация о результатах публикуется в сообществах OneTwoTrip в социальных сетях. Победитель Акции уведомляется о выигрыше по email.</p>
                  </li>
                  <li>
                    <p>Победители Акции определяются генератором случайных чисел среди участников, выполнивших все условия Акции. Если победитель не</p>
                  </li>
                  <li>
                    <p>Призы Акции:</p>
                    <ul class="letter">
                      <li>
                        <p>Главные призы Акции: подарочные сертификаты для оплаты перелета или отеля общим номиналом 50 000 рублей, 20 000 рублей и 10 000 рублей. Сертификат необходимо использовать не позднее 25 июня 2017 года. По перелету не предусматривается начисление миль по программе для часто летающих пассажиров и повышение класса обслуживания. Сертификат без права передачи и возврата, частично или в полном объеме, исключено получение компенсации, эквивалентной стоимости поездки. Для получения приза Победитель акции должен связаться с Организатором по электронной почте promo@onetwotrip.com с адреса электронной почты, указанного при заполнении теста, и сообщить свои данные для получения промокода. Промокод будет выслан на электронную почту Победителя в течение 3 дней с момента предоставления Организатору данных. Передача Приза третьим лицам не допускается.</p>
                        <p>Все федеральные, государственные, местные налоги и налоги на физических лиц на прибыль и обязанности, связанные с получением приза, таможенные и визовые сборы, страховка, расходы в аэропорту, чаевые, любые сборы, устанавливаемые государственными органами страны, имеющей отношение к поездке, и любые другие личные расходы являются зоной ответственности получателя приза. Получатель приза соглашается не перекладывать на Организатора, директоров, сотрудников и уполномоченных представителей ответственность по любым претензиям, которые связаны с призом.</p>
                      </li>
                      <li>
                        <p>Дополнительные призы: Промокоды на бронирование проживания в отелях, представленных на сайте Организатора Акции.</p>
                        <ul class="rom">
                          <li>
                            <p>Промокод необходимо активировать не позднее 1 августа 2016 года. Получение Приза в денежном эквиваленте не предусмотрено.</p>
                          </li>
                          <li>
                            <p>Прококод соотвествует сумме 1200 рублей.</p>
                          </li>
                          <li>
                            <p>Промокод не суммируется с другими. Сумма бронирования должна быть не меньше 10 000 рублей.</p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <p>В случае возникновения причины, в том числе не контролируемой Организатором Акции, которая препятствует должному проведению Акции, затрагивает ее безопасность, честность и целостность, Организатор Акции вправе в одностороннем порядке изменить или временно прекратить проведение Акции.</p>
                  </li>
                  <li>
                    <p>В случае, если Победитель не воспользуется правом получить приз в установленные правилами Акции сроки, указанное право утрачивается, какие-либо компенсации не предоставляются.</p>
                  </li>
                  <li>
                    <p>Организатор Акции не несёт ответственности за надлежащее исполнение авиакомпанией-перевозчиком условий договора перевозки пассажира. Победитель Акции вступает в прямые договорные отношения с перевозчиком, выполняет требования для пассажиров, установленные законодательством и правилами соответствующей авиакомпании-перевозчика.</p>
                  </li>
                  <li>
                    <p>Победитель Акции самостоятельно осуществляет уплату всех налогов и иных существующих обязательных платежей, связанных с получением Приза.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/promo/euro-2016/assets/js/confirm.js"></script>
  </body>
</html>
