index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Футбольный конкурс от OneTwoTrip</title>
    <meta property="og:title" content="Чемпионат Европы по футболу с OneTwoTrip!"/>
    <meta property="og:site_name" content="Футбольный конкурс от OneTwoTrip"/>
    <meta property="og:url" content="http://www.onetwotrip.com/promo/euro-2016/"/>
    <meta property="og:description" content="Пройди футбольный тест OneTwoTrip и получи подарочный сертификат на 50000 ₽ на поездку мечты! Без призов никто не останется."/>
    <meta property="og:image" content="http://www.onetwotrip.com/promo/euro-2016/img/share/share.png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="627"/>
    <meta property="og:updated_time" content="1466229417702"/>
    <link rel="stylesheet" href="/promo/euro-2016/assets/css/assets/reset.css">
    <link rel="stylesheet" href="/promo/euro-2016/assets/css/index.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__back"></div>
      <div id="app" class="wrapper__content"></div>
    </div>
    <script src="/promo/euro-2016/assets/js/assets/react.min.js"></script>
    <script src="/promo/euro-2016/assets/js/assets/react-dom.min.js"></script>
    <script src="/promo/euro-2016/assets/js/uefa.js"></script>
  </body>
</html>

assets/jade/index.jade
extends layout

block styles
  link(rel="stylesheet", href=config.path.css + 'assets/reset.css')
  link(rel="stylesheet", href=config.path.css + 'index.css')

block body
  .wrapper
    .wrapper__back
    .wrapper__content#app


block scripts
  script(src=config.path.js + "assets/react.min.js")
  script(src=config.path.js + "assets/react-dom.min.js")
  script(src=config.path.js + "uefa.js")
